.chat {
  height: 420px;
  width: 100%;
  padding: 20px 10px;
}

.chat__container {
  height: 100%;
}

.chat__messages {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}
