.roundTable {
  margin: 5px;
}

.roundTable__container {
  width: 600px;
  height: 600px;
  border: 1px solid #000;
  border-radius: 50%;
  position: relative;
}

.field {
  width: 20px;
  height: 20px;
  position: absolute;
  background: #f00;
}
