@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Fira Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fira Mono', monospace;
}
